.px {
    font-size: 10px;
}

.cm {
    font-size: 0.8cm;
}

.mm {
    font-size: 5mm;
}

.in {
    font-size: 0.2in;
}

.pt {
    font-size: 10pt;
}

.abuelo {
    width: 600px;
}

.padre {
    height: 200px;
    border: 2px solid red;
}

.hijo {
    width: 40%;
    height: 50px;
    background: black;
}

.padre-em {
    font-size: 20px;
}

.hijo-em {
    font-size: 2em;
}

html {
    font-size: 20px;
}

.padre-rem {
    font-size: 2rem;
}

.hijo-rem {
    font-size: 3rem;
}

.vieww {
    width: 25vw;
    height: 100px;
    background: red;
}

.viewh {
    width: 100px;
    height: 25vh;
    background: red;
}

.clamp {
    font-size: clamp(42px, 10vw, 180px);
}