p {
    color: green;
    background: yellow;
}

body {
    background: burlywood;
}

.card_product {
    color: red;
    font-family: Arial, Helvetica, sans-serif;
}

li {
    color: red !important;
    background: rgb(104, 172, 98) !important;
}

#unique-product-2 {
    color: purple;
    text-decoration: underline;
}

.wrapper-card p {
    color: rgb(250, 106, 246);
    background: cyan;
}