#logo_img {
    width: 10;
    height: 10;
}

.container {
    width: 90%;
    margin: auto;
}

.wrapper-top {
    display: flex;
    justify-content: space-between;
}

.wrapper-top-nav {
    display: flex;
    width: 500px;
}

.wrapper-top-nav nav{
    margin-right: 30px;
    margin-left: 30px;
}
